apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: mysql
    app.kubernetes.io/name: mysql
  clusterIP: None  # Headless Service — не обязателен, но часто используется с StatefulSet