---
apiVersion: v1
kind: Service
metadata:
  name: oncall-mysql
spec:
  type: ClusterIP
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
  selector:
    app.kubernetes.io/name: mysql
